DATABASE_URL=postgresql://journeyone_user:sEq8jbAqnJ1VPhCFBwaXbphRxXoXGfJW@dpg-d9g1cg61a83c73eljgs0-a.oregon-postgres.render.com/journeyone 
PORT=4000 
CLIENT_URL=http://localhost:5173
LOG_QUERIES=false 